POC_XML/src/main/resources/TestXSD.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified">
	<xs:element name="MrMme">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Enfant" type="xs:string" minOccurs="1"
					maxOccurs="3" />
			</xs:sequence>
			<xs:attribute name="nom" type="xs:string" use="required" />
		</xs:complexType>
	</xs:element>
</xs:schema>